<p>Hello {{ name }},</p>

<p>
  This email is from
  <a href="{{websiteUrl}}">Gentry Way Co., Ltd.</a>
</p>
<p>
  We've received your registration information at {{createdAt}}.&nbsp;&nbsp;Thank you very much for registering on our website.&nbsp;&nbsp;Attached
  is a copy of our PDF catalog.&nbsp;&nbsp;Please have a look and let us know if you see any items of interest.
</p>

<p>The following question/comments from you had been received:</p>
<p style="white-space:pre-wrap;">{{comments}}</p>

<table width="60%" cellspacing="2" cellpadding="1" border="1" style="border-collapse:collapse;">
  <caption>A list of products you are interested in</caption>
  <tbody>
    <tr></tr>
    {{#each products}}
    <tr>
      <td>{{ this.code }}</td>
      <td>
        <div style="width:100px;background-image:url({{apiUrl}}/photos?photoId={{this.photos.[0].id}});background-size:contain;background-repeat:no-repeat;background-position:center"></div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<p>Our sales staff will be in touch with you soon.</p>

<p>
  Sincerely,
  <br> Gentry Way Sales Team
  <br>Gentry Way Co., Ltd.
  <br>Gentry Hardware Product Co., Ltd.
</p>
<img alt="gentryLogoSmall.png" src="{{websiteUrl}}/assets/gentryLogoSmall.png">
<p>{{issuedDate}}</p>

<p style="font-size:60%;">EMAIL CONFIDENTIALITY NOTICE:</p>

<p style="font-size:60%;">
  This email transmission and any attachments contained within may contain information that is confidential or otherwise exempt
  from disclosure under applicable law and is intended solely for the use of the individual(s) to whom it was intended to
  be addressed. If you have received this email by mistake, or you are not the intended recipient, any disclosure, dissemination,
  distribution, copying or other use or retention of this communication or its substance is prohibited. If you have received
  this communication in error, please immediately report to the author via email that you received this message by mistake
  and also permanently destroy printed copies and delete the original and all copies of this email and any attachments from
  your computer.
</p>
