<h3>網站於 {{ createdAt }} 接收到以下客戶註冊資訊:</h3>

<table width="60%"
       cellspacing="2"
       cellpadding="1"
       border="1"
       style="border-collapse:collapse;">
    <tbody>
        <tr>
            <td>
                <b>記錄編號</b>
            </td>
            <td>{{ id }}</td>
        </tr>
        <tr>
            <td>
                <b>公司</b>
            </td>
            <td>{{ company }}</td>
        </tr>
        <tr>
            <td>
                <b>姓名</b>
            </td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>
                <b>電郵</b>
            </td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>
                <b>國家</b>
            </td>
            <td>{{ country.name }}</td>
        </tr>
        <tr>
            <td>
                <b>其他問題或意見</b>
            </td>
            <td>
                <pre>{{ comments }}</pre>
            </td>
        </tr>
        <tr>
            <td>
                <b>有興趣的產品</b>
            </td>
            <td>
                <ol>
                    {{#each products}}
                    <li>{{ this.code }}</li>
                    {{/each}}
                </ol>
            </td>
        </tr>
    </tbody>
</table>

<p>請回應客戶聯繫並確認需求，謝謝</p>

<p style="font-size:60%;">EMAIL CONFIDENTIALITY NOTICE:</p>

<p style="font-size:60%;">
    This email transmission and any attachments contained within may contain information that is confidential or otherwise exempt
    from disclosure under applicable law and is intended solely for the use of the individual(s) to whom it was intended
    to be addressed. If you have received this email by mistake, or you are not the intended recipient, any disclosure, dissemination,
    distribution, copying or other use or retention of this communication or its substance is prohibited. If you have received
    this communication in error, please immediately report to the author via email that you received this message by mistake
    and also permanently destroy printed copies and delete the original and all copies of this email and any attachments
    from your computer.
</p>
